
.Header{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */

}
.Header  div {
    /* border:1px solid white ; */
}
.profileImage > img{
    width: 150px;
    transform: scale(.9);
    /* margin-top:-80px; */
    padding: 0;margin-top: -60px;
    /* border-radius: 50%; */
}
.profileImage {
    border: 3px solid #17BEBB;;
    width: 150px;
    height:150px;
    padding: 0;margin: 0;;
    border-radius: 50%;
    overflow: hidden;
}
.introInfo{
    max-width: 70%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
}
.introInfo_top h2
{
    color:#17BEBB;
    width: 100%;;
    font-size: 32px;
    font-weight:500;
}
.introInfo_bottom{
    color:#F7F052;
    font-size: 24px;
}