.Main{
    display: flex;;
flex:1;
justify-content: space-evenly;
margin-top: 10px;;
padding: 0 20px;;
}
.Main > div {
    padding: 20px 10px;
   max-width: 50%;
   min-width: 400px;
    /* border: 3px solid whitesmoke; */

}